<!-- <div class="flex flex-wrap gap-3.5 justify-center items-center w-full"> -->
     <div class="flex w-full flex-wrap gap-3.5 justify-center items-center">

  <div class="rounded-lg border bg-white px-4 pt-8 pb-10 shadow-lg w-full max-w-sm animate-pulse">
    <div class="relative mx-auto w-32 h-32 rounded-full bg-gray-200"></div>

    <div class="my-4 h-4 w-80 mx-auto bg-gray-200 rounded "></div>
    <div class="mb-4 h-4 w-1/2 mx-auto bg-gray-200 rounded"></div>

    <div class="flex gap-2 justify-center items-center">
      <div class="h-4 w-2/3 bg-gray-200 rounded"></div>
      <div class="h-6 w-6 bg-gray-200 rounded-full"></div>
    </div>
  </div>

</div>
