<section class="w-full max-w-full overflow-x-auto">
  <table class="w-full border-2 border-green-600 table-fixed">
    <thead>
      <tr class="bg-green-100">
        <th class="px-2 py-2 text-center w-1/4">Avatar</th>
        <th class="px-2 py-2 text-left w-1/4">Nombre</th>
        <th class="px-2 py-2 text-left w-1/4">Correo</th>
        <th class="px-2 py-2 text-center w-1/4">País</th>
      </tr>
    </thead>
    <tbody>

          <tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr>
          <tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr><tr>
            <td class="px-2 py-2 text-center"> <div class="w-8 h-8 rounded-full bg-gray-300 animate-pulse mx-auto"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2"><div class="h-4 bg-gray-300 rounded animate-pulse w-32"></div></td>
            <td class="px-2 py-2 text-center flex justify-center"><div class="w-8 h-7 bg-gray-300 rounded animate-pulse"></div></td>
          </tr>

    </tbody>
  </table>
</section>
