<section class="flex justify-end my-6 gap-4 mx-1">

  <p class="text-xl" style="margin-right: -10px;">Vista:</p>

  <button (click)="TipoDeVista().set('listado')" >
        <i [class]="TipoDeVista()() === 'listado'
                    ? 'fa-regular fa-rectangle-list fa-xl text-green-600'
                    : 'fa-regular fa-rectangle-list fa-xl text-gray-600'"></i>
  </button>

  <button  (click)="TipoDeVista().set('galeria')">
        <i [class]="TipoDeVista()() === 'galeria'
                    ? 'fa-regular fa-id-card fa-xl text-green-600'
                    :'fa-regular fa-id-card fa-xl text-gray-600'"></i>
  </button>

</section>
