<h1 class="text-2xl font-bold underline text-center text-gray-600 mb-3">Registro de usuarios</h1>

<div class="mx-3">

  <app-paginacion/>

  <section class="flex justify-around align-center items-center">
      <app-boton-pdf [TipoDeVista]="TipoDeVista()"
                     [usuarios]= "RandonUserService.ListadoUsers()"/>
      <app-card-display [TipoDeVista]="TipoDeVista"/>
  </section>

  <app-user-card [usuarios]= "RandonUserService.ListadoUsers()"
                 [CargandoDatos]="RandonUserService.cargandoSignal()"
                 [TipoDeVista]="TipoDeVista()"
                 />

</div>
